<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Entalpia</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body class="bg-light">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="m-5 pr-3">
    <!--Tutaj miejsce na wykresy-->
    <canvas id="myChart"></canvas>

</div>


<form class="m-5 container" name="form" th:action="@{/}" th:object="${form}" method="post">
    <div class="row mb-3 pb-3 border-bottom row">
        <div class="col-lg-3 col-12">
            <label for="startTemp">Temperatura początkowa</label>
            <input th:field="*{tempStart}" id="startTemp" type="number" class="form-control" placeholder="Początek" th:errorClass="error" required="required">
            <small class="text-danger" th:if="${#fields.hasErrors('tempStart')}" th:errors="*{tempStart}"></small>
        </div>
        <div class="col-lg-3 col-12">
            <label for="endTemp">Temperatura końcowa</label>
            <input th:field="*{tempEnd}" id="endTemp" type="number" class="form-control" placeholder="Koniec" th:errorClass="error" required="required">
            <small class="text-danger" th:if="${#fields.hasErrors('tempEnd')}" th:errors="*{tempEnd}"></small>
        </div>
        <div class="col-lg-3 col-12">
            <label for="enthalpy">Entalpia przemiany</label>
            <input th:field="*{H}" id="enthalpy" type="number" class="form-control" placeholder="Entalpia" th:errorClass="error" required="required">
            <small class="text-danger" th:if="${#fields.hasErrors('H')}" th:errors="*{H}"></small>
        </div>
        <div class="col-lg-3 col-12">
            <label for="inputState">Funkcja</label>
            <select th:field="*{function}" id="inputState" class="form-control">
                <option value="linear" selected>Liniowa</option>
                <option value="exponential">Wykładnicza</option>
                <option value="jump">Skok jednostkowy</option>
            </select>
        </div>
    </div>
    <center><button type="submit" class="btn btn-outline-secondary">Dodaj</button></center>
</form>


<form class="m-5 container" th:action="@{/file}" method="POST" enctype="multipart/form-data">
    <div class="mb-3 pb-3 border-bottom row">
        <div class="form-group col-12">
            <label for="rowsToSkip">Ile wierszy pominąć</label>
            <input name="rowsToSkip" id="rowsToSkip" type="number" min="0" class="form-control" placeholder="Ile wierszy pominąć" required="required">
        </div>
        <div class="form-group col-12">
        <label for="file">Dane do wykresów</label>
        <input type="file" name="file" class="form-control-file" id="file" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">Proszę załączyć plik .txt, z temperaturą w pierwszej kolumnie i ciepłem własciwym w drugiej.</small>
    </div>
        <div class="form-group col-12">
            <center><button class="btn btn-outline-secondary" type="submit">Wyślij</button></center>
        </div>
    </div>

</form>

<script th:temp="${tempJson}" th:enthalpy="${enthalpyJson}">
var ctx = document.getElementById("myChart").getContext('2d');
var temperature = document.currentScript.getAttribute('temp');
var enthalpy = document.currentScript.getAttribute('enthalpy');

var temperatureJSON = JSON.parse(temperature);
var enthalpyJSON = JSON.parse(enthalpy);

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: temperatureJSON,
        datasets: [{
            label: 'Entalpia',
            data: enthalpyJSON,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 0.2)',
            borderWidth: 1
        }]
    },
    options: {
        title: {
        text: 'wykres zależności entalpi od temperatury'
    },
        scales: {

            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Entalpia'
                },
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Temperatura'
                }
            }]
        }
    }
});
</script>



<footer class="bg-secondary py-5">

</footer>

<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>